<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Order Management</ion-title>


    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="scan-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-input label="Search" labelPlacement="stacked" [clearInput]="true" placeholder="" fill="outline"
    labelPlacement="floating">
  </ion-input>
  <ion-list *ngIf="isMobile">
    <ion-item-group>
      <ion-item-divider button *ngFor="let item of orders">
        <!-- <ion-avatar slot="start">
          <ion-icon name="cart"></ion-icon>
        </ion-avatar> -->
        <ion-label slot="start" (click)="show(item)">
          <ion-grid>
            <ion-row>
              <ion-col>
                <b>{{ item.client.name }}</b>
                <p>{{ item.client.phone }}</p>
                <p>{{ item.delivery_date | date: 'dd/MM/yyyy' }}</p>
              </ion-col>
              <ion-col size="auto">
                <div style="width: 150px">
                  <p>{{ item.order_no }}</p>
                  <ion-badge>{{ item.total_price }}</ion-badge>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>


        </ion-label>

        <ion-label slot="end">
          <ion-button (click)="gotToUpdate()" fill="clear">
            <ion-icon name="bookmark-sharp"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item-divider>
    </ion-item-group>
  </ion-list>

  <!-- Web View -->
  <ion-card *ngIf="!isMobile">
    <ion-card-content>

      <ion-grid>
        <ion-row id="header-row">
          <ion-col size="2">Order No</ion-col>
          <ion-col size="2">Name</ion-col>
          <ion-col size="2">Phone</ion-col>
          <ion-col size="2">Status</ion-col>
          <ion-col size="2">Amount</ion-col>
          <ion-col>Action</ion-col>
        </ion-row>
        <hr>
        <ion-row id="body-row" *ngFor="let item of orders;let i=index">
          <ion-col size="2">
            <ion-button fill="clear" (click)="show(item)">{{ item.order_no }}</ion-button>
            </ion-col>
          <ion-col size="2">{{ item.client.name }}</ion-col>
          <ion-col size="2">{{ item.client.phone }}</ion-col>
          <ion-col size="2">{{ item.status }}</ion-col>
          <ion-col size="2">{{ item.total_price }}</ion-col>
          <ion-col size="2">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
            </ion-button>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="pencil" color="primary"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row id="footer-row">
          <ion-col size="8">
          </ion-col>
          <ion-col size="4">
            <ion-row>
              <ion-col size="2">
                <ion-button (click)="goFirst()" fill="clear">
                  <ion-icon slot="icon-only" name="play-back"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="2">
                <ion-button (click)="prevPage()" fill="clear">
                  <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
                </ion-button>
              </ion-col>

              <ion-col size="2">
                <ion-select interface="popover" (ionChange)="getOrders()" [(ngModel)]="resultCount">
                  <ion-select-option [value]="5">5</ion-select-option>
                  <ion-select-option [value]="10">10</ion-select-option>
                  <ion-select-option [value]="25">25</ion-select-option>
                  <ion-select-option [value]="50">50</ion-select-option>
                </ion-select>
              </ion-col>

              <ion-col size="2">
                <ion-button (click)="nextPage()" fill="clear">
                  <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="2">
                <ion-button (click)="goLast()" fill="clear">
                  <ion-icon slot="icon-only" name="play-forward"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <hr>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Web View -->

  <!--
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more orders...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="gotToCreate()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
