.input-fill-outline.sc-ion-input-md-h {
  margin-bottom: 20px;
  margin-top: 20px;
}


.item.sc-ion-label-md-h:not(.item-input):not(.item-legacy), .item:not(.item-input):not(.item-legacy) .sc-ion-label-md-h{
  flex-grow: 0 !important;
}
